
name: Upload data to Hugging Face Dataset

on:
  push:
    branches: [ master ]
    paths:
      - data/tourism.csv

jobs:
    deploy:      
      name: Upload tourism.csv
      runs-on: ubuntu-latest
      environment: prod

      env:
        HF_TOKEN: ${{ secrets.HUGGING_FACE_API_KEY }}
        HF_REPO: ${{ vars.HF_REPO }}

      steps:
        - uses: actions/checkout@v4

        - name: Check File Exists
          run: |
            if [ ! -f "./data/tourism.csv" ]; then
              echo "Required file missing. Aborted."
              exit 1
            fi

        - name: Install dependencies
          run: pip install --no-cache-dir --upgrade -r .github/requirements.txt

        - name: Data Registration
          run: python ./data-reg.py
