
name: Tourism MLOps Pipeline

run-name: >-
  ${{ github.event_name == 'repository_dispatch'
      && format(
           '{0} ({1}@{2})',
           github.event.client_payload.description,
           github.event.client_payload.hf_repo_type,
           github.event.client_payload.hf_repo
         )
      || github.workflow 
  }}

env:
  CSV_DATA_FILE: tourism.csv

on:
  push:
    branches: [ master ]
    paths:
      - model_building/**
      - ui-app/**

  repository_dispatch:
    types: [ hf_webhook_event ]

  workflow_dispatch:
    inputs:
      run_mode:
        description: 'Select Run'
        required: true
        type: choice
        options:
          - Full
          - Partial
          - UI Only
        default: Partial

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      run_mode: ${{ steps.mode.outputs.run_mode }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - id: mode
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "run_mode=${{ inputs.run_mode }}" >> $GITHUB_OUTPUT
          elif [ "${{ github.event_name }}" = "repository_dispatch" ]; then
            echo "run_mode=RepoDispatch" >> $GITHUB_OUTPUT
          elif [ "${{ github.event_name }}" = "push" ]; then
            CHANGED_FILES=$(git diff --name-only HEAD^ HEAD)
            OTHER_CHANGES=$(echo "$CHANGED_FILES" | grep -v '^ui-app/' || true)
            if [ -z "$OTHER_CHANGES" ]; then
              echo "run_mode=UI Only" >> $GITHUB_OUTPUT
            else
              echo "run_mode=Push" >> $GITHUB_OUTPUT
            fi
          fi

  data_clean:
    needs: setup    
    name: Data Ingestion
    if: ${{ needs.setup.outputs.run_mode == 'Full' || needs.setup.outputs.run_mode == 'RepoDispatch' }}
    runs-on: ubuntu-latest
    environment: prod
    env:
      RUN_MODE: ${{ needs.setup.outputs.run_mode }}
      HF_TOKEN: ${{ secrets.HUGGING_FACE_API_KEY }}
      HF_REPO: ${{ vars.HF_REPO }}

    steps:
      - name: Check Whether New Data
        run: |
          git config --global credential.helper store
          printf "https://user:%s@huggingface.co\n" "$HF_TOKEN" > ~/.git-credentials
          git clone https://huggingface.co/datasets/${HF_REPO}

          cd ./mlops-tourism
          if git diff --quiet HEAD~1 HEAD -- "$CSV_DATA_FILE"; then
            if [ "$RUN_MODE" == "Full" ]; then
              echo "### Full Run Mode" >> $GITHUB_STEP_SUMMARY
              echo "- No new data detected" >> $GITHUB_STEP_SUMMARY
              echo "- Training will proceed" >> $GITHUB_STEP_SUMMARY
            else
              echo "### Pipeline Stopped" >> $GITHUB_STEP_SUMMARY
              echo "- No new data detected" >> $GITHUB_STEP_SUMMARY
              echo "- File checked: \`$CSV_DATA_FILE\`" >> $GITHUB_STEP_SUMMARY
              exit 1
            fi
          else 
            echo "### New Data Detected" >> $GITHUB_STEP_SUMMARY
            echo "- Training will proceed" >> $GITHUB_STEP_SUMMARY
          fi
          cd ..

      - uses: actions/checkout@v4

      - name: Install dependencies
        run: pip install --no-cache-dir --upgrade -r .github/requirements.txt

      - name: Data Clean-up & Train/Test Split
        run: python ./model_building/train_test_split.py

      - name: HF to close any pending commit
        run: sleep 5s        

  model_build:
    needs: [setup, data_clean]
    name: Model Training
    if: >- 
      ${{ 
        always() && !failure() && !cancelled() &&
        needs.setup.outputs.run_mode != 'UI Only' 
      }}
    runs-on: ubuntu-latest
    environment: prod
    env:      
      MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_TRACKING_USERNAME }}
      MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}
      MLFLOW_EXPERIMENT_NAME: ${{ vars.MLFLOW_EXPERIMENT_NAME }}
      MLFLOW_TRACKING_URI: ${{ vars.MLFLOW_TRACKING_URI }}
      HF_TOKEN: ${{ secrets.HUGGING_FACE_API_KEY }}
      HF_REPO: ${{ vars.HF_REPO }}

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: pip install --no-cache-dir --upgrade -r .github/requirements2.txt

      - name: Model Evaluation
        run: python ./model_building/model_build.py

  model_deploy:
    needs: model_build
    name: Model Deployment
    if: always() && !failure() && !cancelled() && needs.model_build.result == 'success'
    runs-on: ubuntu-latest
    environment: prod
    env:
      AZURE_OPENAI_DEPLOYMENT: ${{ vars.AZURE_OPENAI_DEPLOYMENT }}
      AZURE_OPENAI_API_KEY: ${{ secrets.AZURE_OPENAI_API_KEY }}
      AZURE_OPENAI_ENDPOINT: ${{ vars.AZURE_OPENAI_ENDPOINT }}
      MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_TRACKING_USERNAME }}
      MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}
      MLFLOW_EXPERIMENT_NAME: ${{ vars.MLFLOW_EXPERIMENT_NAME }}
      MLFLOW_TRACKING_URI: ${{ vars.MLFLOW_TRACKING_URI }}
      HF_TOKEN: ${{ secrets.HUGGING_FACE_API_KEY }}
      HF_REPO: ${{ vars.HF_REPO }}

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: pip install --no-cache-dir --upgrade -r .github/requirements2.txt

      - name: Install Agent dependencies
        run: pip install --no-cache-dir --upgrade semantic-kernel==1.39.2

      - name: Model Selection
        run: python -m model_building.model_select # import agents**

      - name: HF Model Repository
        run: python ./model-reg.py 

      - name: Model Deploy
        run: python ./model_building/model_deploy.py 

      - name: Input Schema Update
        run: python -m model_building.input_schema # import agents**

  ui_restart:
    needs: [setup, model_deploy]
    name: UI App Restart
    if: >-
      ${{
        always() && !failure() && !cancelled() && 
        (needs.setup.outputs.run_mode == 'Partial' || needs.setup.outputs.run_mode == 'RepoDispatch')
      }}
    runs-on: ubuntu-latest
    environment: prod
    env:
      HF_TOKEN: ${{ secrets.HUGGING_FACE_API_KEY }}
      HF_REPO: ${{ vars.HF_REPO }}

    steps:
      - name: Install Hugging Face CLI
        run: |
          git config --global credential.helper store
          printf "https://user:%s@huggingface.co\n" "$HF_TOKEN" > ~/.git-credentials
          git clone https://huggingface.co/spaces/${HF_REPO}

          cd ./mlops-tourism
          git commit --allow-empty -m "Restarting from Pipeline: $GITHUB_RUN_ID"
          git push

  ui_deploy:
    needs: [setup, model_deploy]
    name: App Deployment
    if: >-
      ${{
        always() && !failure() && !cancelled() &&
        (needs.setup.outputs.run_mode == 'Full' || 
        needs.setup.outputs.run_mode == 'Push' ||
        needs.setup.outputs.run_mode == 'UI Only')
      }}
    runs-on: ubuntu-latest
    environment: prod
    env:
      MLFLOW_EXPERIMENT_NAME: ${{ vars.MLFLOW_EXPERIMENT_NAME }}
      HF_TOKEN: ${{ secrets.HUGGING_FACE_API_KEY }}
      HF_REPO: ${{ vars.HF_REPO }}

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: pip install --no-cache-dir --upgrade huggingface_hub==0.34.3

      - name: Copy Resources
        run: |
          mkdir -p ui-app/assets
          cp banner.png ui-app/assets/
          cp model_building/util2.py ui-app/

      - name: Deploy UI
        run: python ./app-reg.py
