
name: Tourism MLOps Pipeline

run-name: >-
  ${{ github.event_name == 'repository_dispatch'
      && format(
           '{0} ({1}@{2})',
           github.event.client_payload.description,
           github.event.client_payload.hf_repo_type,
           github.event.client_payload.hf_repo
         )
      || github.workflow 
  }}

env:
  CSV_DATA_FILE: tourism.csv

on:
  push:
    branches: [ master ]
    paths:
      - model_building/**

  repository_dispatch:
    types: [ hf_webhook_event ]

  workflow_dispatch:
    inputs:
      run_mode:
        description: 'Select Run'
        required: true
        type: choice
        options:
          - Full
          - Partial
          - UI Only
        default: Partial

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      run_mode: ${{ steps.mode.outputs.run_mode }}
    steps:
      - id: mode
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "run_mode=${{ inputs.run_mode }}" >> $GITHUB_OUTPUT
          elif [ "${{ github.event_name }}" = "repository_dispatch" ]; then
            echo "run_mode=RepoDispatch" >> $GITHUB_OUTPUT
          else
            echo "run_mode=Push" >> $GITHUB_OUTPUT
          fi

  data_clean:
    needs: setup    
    if: ${{ needs.setup.outputs.run_mode == 'Full' || needs.setup.outputs.run_mode == 'RepoDispatch' }}
    runs-on: ubuntu-latest
    environment: prod
    env:
      HF_TOKEN: ${{ secrets.HUGGING_FACE_API_KEY }}
      HF_REPO: ${{ vars.HF_REPO }}

    steps:
      - name: Check Whether New Data
        run: |
          git config --global credential.helper store
          printf "https://user:%s@huggingface.co\n" "$HF_TOKEN" > ~/.git-credentials
          git clone https://huggingface.co/datasets/${HF_REPO}

          cd ./mlops-tourism
          if git diff --quiet HEAD~1 HEAD -- "$CSV_DATA_FILE"; then
            echo "New Data Arrived...."
          else 
            exit 1
          fi
          cd ..

      - uses: actions/checkout@v4

      - name: Install dependencies
        run: pip install --no-cache-dir --upgrade -r .github/requirements.txt

      - name: Data Clean-up & Train/Test Split
        run: python ./model_building/train_test_split.py

      - name: HF to close any pending commit
        run: sleep 5s        

  model_build:
    needs: [setup, data_clean]
    if: >- 
      ${{ 
        always() && !failure() && !cancelled() &&
        needs.setup.outputs.run_mode != 'UI Only' 
      }}
    runs-on: ubuntu-latest
    environment: prod
    env:
      MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_TRACKING_USERNAME }}
      MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}
      MLFLOW_TRACKING_URI: ${{ vars.MLFLOW_TRACKING_URI }}
      HF_TOKEN: ${{ secrets.HUGGING_FACE_API_KEY }}
      HF_REPO: ${{ vars.HF_REPO }}

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: pip install --no-cache-dir --upgrade -r .github/requirements.txt

      - name: Model Evaluation
        run: python ./model_building/model_train.py

  model_deploy:
    needs: model_build
    if: always() && !failure() && !cancelled() && needs.model_build.result == 'success'
    runs-on: ubuntu-latest
    environment: prod
    env:
      HF_TOKEN: ${{ secrets.HUGGING_FACE_API_KEY }}
      HF_REPO: ${{ vars.HF_REPO }}

    steps:
      - name: Deploy Model to HF
        run: echo "Model Deploy"

  ui_deploy:
    needs: [setup, model_deploy]
    if: >-
      ${{
        always() && !failure() && !cancelled() &&
        (needs.setup.outputs.run_mode == 'Full' || 
        needs.setup.outputs.run_mode == 'Push' ||
        needs.setup.outputs.run_mode == 'UI Only')
      }}
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Deploy UI to HF
        run: echo "UI  Deploy"
